
<div *ngIf="roles">
    <h2><span jhiTranslate="blogApp.roles.detail.title">Roles</span> {{roles.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.roles.role">Role</span></dt>
        <dd>
            <span>{{roles.role}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.roles.ideas">Ideas</span></dt>
        <dd>
            <div *ngIf="roles.ideasId">
                <a [routerLink]="['/ideas-my-suffix', roles.ideasId]">{{roles.ideasId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'roles-my-suffix/'+ roles.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
